<div class="container">

    <h1>soy los detalles de <span class="capitaliced">{{name}}</span> </h1>

    <div class="row">

        <div class="col-md-6">

            <figure>
                <img src="{{sprites.other.dream_world.front_default}}" alt="image {{name}}" />
            </figure>

            <div>
                <h3>NUMERO: {{id}} </h3>
            </div>

        </div>

        <div class="col-md-6">

            <div>

                <h3>habilities</h3>
                <ul>
                    {{#each abilities}}
                        <li>
                            {{ability.name}}

                        </li>

                    {{/each}}

                </ul>

            </div>

        </div>

    </div>

</div>