<div class="container">
    <h3 class="events-title">Atrapalos a todos</h3>
    <div class="row">
        {{#each pokemons}}
        <div class="col-md-4 mb-5 ">
            <div class="card justify-content-center poke-img-bg" style="width: 18rem;">
                <figure>
                    <img class="pokeImg" src="{{sprites.other.dream_world.front_default}}" alt="{{name}}" />
                </figure>
                <hr>
                <div class="poke-card-data">
                    <a href="/pokemons/{{name}}" class="name-card btn btn-outline-info">{{name}}</a>
                    <p>EXP {{base_experience}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>