<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 ">
            <div class="d-flex justify-content-center">
             
                <div class="card " style="width: 18rem;">
                <div class="height-card">
                    <img src="{{img}}" class="card-img-top" alt="..." />
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{details}}</p>
                    <p class="card-text"> {{date}}</p>
                    <p class="card-text"> {{location}}</p>
                    {{#each pokemons}}
                    <a href="/pokemons/{{this}}">{{this}}</a>
                    {{/each}}
                </div>
               
            </div>
            </div>
        </div>

        <div class="col-md-6" style="height: 100px;">
            <h6 class="mb-5">Asistentes</h6>
            {{#each participants}}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img style="height: 6rem; max-width: 100px;" src="{{img}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body" style="height: 3rem">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 class="card-text">{{username}}</h4>
                                </div>
                                <div class="col-md-4">
                                    <form action="/events/{{../_id}}/give-pokemons/{{id}}" method="POST">
                                        <button class="btn btn-sm btn-success" type="submit">Ha ganado</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
          
        </div>
    </div>
</div>