<div class="container">
    <divv class="row">
        <h1>events</h1>
        {{#each allEvents}}
        <div class="col-md-6 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">NAME: {{name}}</h5>
                    <p class="card-text">DETAILS: {{details}}</p>
                    <p class="card-text">DATE: {{date}}</p>
                    <p class="card-text">LOCATION: {{location}}</p>
                    {{#each pokemons}}
                    <a href="/pokemons/{{this}}">{{this}}</a>
                    {{/each}}
                </div>
                <form action="/events/{{id}}" method="POST">
                    <button type="submit" class="btn btn-danger">APUNTARSE</button>
                </form>
            </div>
        </div>
</div>
{{/each}}

</divv>

</div>