<h1>Pagina de gimnasio</h1>

<div class="container">
    <divv class="row">
        <h1>Tus eventos</h1>
        {{#each allEvent}}
        <div class="col-md-6 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="{{img}}" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">NAME: {{name}}</h5>
                    <p class="card-text">DETAILS: {{details}}</p>
                    <p class="card-text">DATE: {{date}}</p>
                    <p class="card-text">LOCATION: {{location}}</p>
                    <h6>pokemons en este evento</h6>
                    {{#each pokemons}}
                    <a href="/pokemons/{{this}}">{{this}}</a>
                    {{/each}}
                </div>
                <form action="/events/{{id}}/edit">
                    <button type="submit" class="btn btn-warning">EDIT</button>
                </form>
                <button type="button" class="btn btn-danger">
                    <a href="/events/{{id}}">DETALLES</a>
                </button>

                <form action="/events/{{id}}/delete" method="POST">
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>

            </div>
        </div>
        {{/each}}
    </divv>
</div>
<li class="nav-item">
    <a class="nav-link" href="/events/create">Create Event</a>
</li>