{{#each Gym}}
<img class="gym-bg" src="{{img}}" alt="imagen del gimnasio">
{{/each}}
<div class="container">
    {{#each Gym}}
    <h3>{{name}} </h3>
    <a type="button" class="btn btn-outline-secondary" href="/events/create">Create Event</a>
    <p></p>
    {{/each}}
    <divv class="row">
        {{#each allEvent}}
        <div class="col-md-6 mb-5">
            <div class="card" style="width: 18rem;">
                <div class="height-card">
                    <img src="{{img}}" class="card-img-top" alt="...">
                </div>

                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{details}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{date}}</li>
                    <li class="list-group-item"><strong>{{location}}</strong> </li>
                    {{#each pokemons}}
                    <a class="btn btn-outline-dark btn-md m-2" href="/pokemons/{{this}}">{{this}}</a>
                    {{/each}}
                </ul>
                <div class="row button-events-leader">
                    <div class="col-md-4">
                        <form action="/events/{{id}}/edit">
                            <button type="button" class="btn btn-outline-warning btn-sm">EDIT</button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form action="/events/{{id}}/delete" method="POST">
                            <button type="submit" class="btn btn-outline-danger btn-sm">DELETE</button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="edit-bottom ">
                            <a class="btn btn-outline-warning btn-sm " href="/events/{{id}}">DETALLES</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
</div>

</div>
<h5>Dirigido por: <strong>{{name}}</strong> </h5>

</div>