<div class="container">
    <h4 class="events-title">Lista de usuarios</h4>
    <hr>
    <div class="row ">
        <div class="col-md-6 " style="height: 130px;">
            <h6>Trainers</h6>
            {{#each trainerUsers}}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4 ">
                        <img class="user-list-img" src="{{img}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Trainer</h5>
                            <p class="card-text">{{username}}</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-info">
                                        <a class="link-list-user" href="/profile/{{_id}}/edit"> Editar Perfil</a>
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <form action="/profile/{{_id}}/delete" method="POST">
                                        <button class="btn btn-sm btn-danger" type="submit">Eliminar</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form action="/profile/list/{{id}}/editToLeader" method="POST">
                                        <button class="btn btn-sm btn-success" type="submit">Leader</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-md-6" style="height: 130px;">
            <h6>Leader User</h6>
            {{#each leaderUsers}}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="user-list-img" src="{{img}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Leader</h5>
                            <p class="card-text">{{username}}.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-info">
                                        <a href="/profile/{{_id}}/edit"> Editar Perfil</a>
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <form action="/profile/{{_id}}/delete" method="POST">
                                        <button class="btn btn-sm btn-danger" type="submit">Eliminar</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form action="/profile/list/{{id}}/editToTranier" method="POST">
                                        <button class="btn btn-sm btn-dark" type="submit">Trainer</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>