<div class="general-profile">
    <div class="row button-admin">
        {{#if isAdmin}}
        <div class="col-md-8 ">
        </div>
        <div class="col-md-4 buttons-Admin">
            <li class="nav-item">
                <a class="btn btn-sm btn-dark" href="/profile/gym ">Tu PokeGym</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-sm btn-dark" href="/profile/list">Lista de usuarios</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-sm btn-dark" href="/profile/create-gym ">Crear nuevo Gimnasio</a>
            </li>
        </div>
    </div>
    {{/if}}

    <div class="row">
        <div class="col-md-3">
            <figure>
                <img src="{{user.img}}" alt="foto de {{user.username}} " />
            </figure>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <button class="btn btn-sm btn-dark">
                            <a href="/profile/{{user._id}}/edit"> editar Perfil</a>
                        </button>
                    </div>
                </div>
                <div class="col-md-6 ali">
                    <div>
                        <form action="/profile/{{user._id}}/delete" method="POST">
                            <button class="btn btn-sm btn-dark" type="submit">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Bienvenido, {{user.username}}</h1>
            <div class="row">
                <h3> TUS EVENTOS </h3>
                {{#each allEvents}}
                <div class="col-md-6 mt-2">
                    <div class="card" style="width: 18rem;">
                        <img src="{{img}}" class="card-img-top" alt="imagen pokemos" />
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{details}}</p>
                            <p class="card-text">{{date}}</p>
                            <p class="card-text">{{location}}</p>
                            {{#each pokemons}}
                            <a href="/pokemons/{{this}}">{{this}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <h2> TUS POKEMONS </h2>
                <ul>
                    {{#each user.pokemons}}
                    <li>
                        <a href="/pokemons/{{this}}">{{this}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{#if isAdmin}}
            <h3> Gimnasios </h3>
            {{#each allGyms}}
            <div class="col mt-2">
                <div class="card" style="width: 18rem;">
                    <img src={{img}} class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{leader.username}}</p>
                        <p class="card-text">{{location}}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-sm btn-dark">
                                    <a href="/profile/{{_id}}/edit-gym"> Editar</a>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <form action="/profile/{{_id}}/delete" method="POST">
                                    <button class="btn btn-sm btn-dark" type="submit">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
    <div>
        {{#if isLeader}}
        <li class="nav-item">
            <a class="btn btn-sm btn-dark" href="/profile/gym ">Tu PokeGym</a>
        </li>
        {{/if}}
    </div>
    {{#if errorMessage}}
    <div id="error">{{errorMessage}}</div>
    {{/if}}
</div>